 $navcolor: #e9ecef;
 $cultured: #f8f9fa;
 $cultured2: #e9ecef;
 $gainsboro: #dee2e6;
 $lightgray: #ced4da;
 $cadetblue: #adb5bd;
 $slategray: #6c757d;
 $davysgrey: #495057;
 $gunmetal: #343a40;
 $charlestongreen: #212529;
 

 // Theme Color
 $primary-color: #55c882;
 $primary-color-light: #F7FFF7;
 $light-gray: #f9f9f9;
 // Green background gradient
$psuedo-bg: linear-gradient(to right,$primary-color 0%,$primary-color 74%,rgba(255,255,255,0) 74%,rgba(255,255,255,0) 87%,$primary-color 87%);